# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Окружение
.venv/
venv/

# Тесты
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/

# Локальные настройки с паролем от БД
config/config.ini
.env
